<h3>Bookstore order shipped</h3>
<p>
  This is to let you know that the following items from your recent order have shipped 
</p>

<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
  <%= render @order.line_items -%>
</table>